@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2257 0.0105 132.7163);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2257 0.0105 132.7163);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2257 0.0105 132.7163);
  --primary: oklch(0.4803 0.0682 138.4565);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5172 0.0593 73.3489);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9683 0.0054 117.9231);
  --muted-foreground: oklch(0.4897 0.0149 126.5992);
  --accent: oklch(0.8688 0.0668 91.1894);
  --accent-foreground: oklch(0.3777 0.0409 90.4474);
  --destructive: oklch(0.4860 0.1314 23.3318);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9278 0.0083 121.6366);
  --input: oklch(0.9278 0.0083 121.6366);
  --ring: oklch(0.4803 0.0682 138.4565);
  --chart-1: oklch(0.4803 0.0682 138.4565);
  --chart-2: oklch(0.5172 0.0593 73.3489);
  --chart-3: oklch(0.8688 0.0668 91.1894);
  --chart-4: oklch(0.7390 0.0564 123.8131);
  --chart-5: oklch(0.7284 0.0641 71.3541);
  --sidebar: oklch(0.9900 0.0017 145.5623);
  --sidebar-foreground: oklch(0.2257 0.0105 132.7163);
  --sidebar-primary: oklch(0.4803 0.0682 138.4565);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9683 0.0054 117.9231);
  --sidebar-accent-foreground: oklch(0.4803 0.0682 138.4565);
  --sidebar-border: oklch(0.9552 0.0070 124.4493);
  --sidebar-ring: oklch(0.4803 0.0682 138.4565);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1713 0.0120 139.4323);
  --foreground: oklch(0.9582 0.0069 124.4489);
  --card: oklch(0.2173 0.0177 137.9181);
  --card-foreground: oklch(0.9582 0.0069 124.4489);
  --popover: oklch(0.1713 0.0120 139.4323);
  --popover-foreground: oklch(0.9582 0.0069 124.4489);
  --primary: oklch(0.7390 0.0564 123.8131);
  --primary-foreground: oklch(0.2257 0.0105 132.7163);
  --secondary: oklch(0.7386 0.0773 78.7637);
  --secondary-foreground: oklch(0.2257 0.0105 132.7163);
  --muted: oklch(0.2430 0.0173 137.8949);
  --muted-foreground: oklch(0.6754 0.0202 137.8144);
  --accent: oklch(0.7810 0.1081 88.5023);
  --accent-foreground: oklch(0.2257 0.0105 132.7163);
  --destructive: oklch(0.6122 0.2082 22.2410);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3058 0.0222 137.1815);
  --input: oklch(0.3058 0.0222 137.1815);
  --ring: oklch(0.7390 0.0564 123.8131);
  --chart-1: oklch(0.7390 0.0564 123.8131);
  --chart-2: oklch(0.7386 0.0773 78.7637);
  --chart-3: oklch(0.7810 0.1081 88.5023);
  --chart-4: oklch(0.5612 0.0784 143.8914);
  --chart-5: oklch(0.5603 0.0634 69.3422);
  --sidebar: oklch(0.1492 0.0100 137.3601);
  --sidebar-foreground: oklch(0.9582 0.0069 124.4489);
  --sidebar-primary: oklch(0.7390 0.0564 123.8131);
  --sidebar-primary-foreground: oklch(0.2257 0.0105 132.7163);
  --sidebar-accent: oklch(0.2430 0.0173 137.8949);
  --sidebar-accent-foreground: oklch(0.7390 0.0564 123.8131);
  --sidebar-border: oklch(0.2543 0.0194 138.7614);
  --sidebar-ring: oklch(0.7390 0.0564 123.8131);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 20px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 4px 20px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 4px 20px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 4px 20px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 4px 20px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 4px 20px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 4px 20px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 4px 20px 0px hsl(0 0% 0% / 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
